@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../asset/font/Quicksand-Regular.otf') format('opentype');
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
  border-radius: 0;
  outline: none;
}
